<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name = "format-detection" content = "telephone=no">
		<title>订单管理</title>
		<script src="__JS__/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__CSS__/reset.css"/>
		<style type="text/css">
			html,body{background: #f7f7f7;}
			header{width: 100%;height: .78rem;border-bottom: 1px solid #e6e6e6;overflow: hidden;background: white;border-top: 1px solid #e6e6e6;}
			header input{border: 0;border-radius: .5rem;width: 6.9rem;background: #f2f2f2;height: .45rem;
			margin: .17rem auto 0;display: block;padding-left: .7rem;box-sizing: border-box;}
			
			@font-face {font-family: 'iconfont';
			    src: url('assets/font/iconfont.eot'); /* IE9*/
			    src: url('assets/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			    url('assets/font/iconfont.woff') format('woff'), /* chrome、firefox */
			    url('assets/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			    url('assets/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
			}
			.iconfont{
			      font-family:"iconfont" !important;
				  font-size:16px;
				  font-style:normal;
				  -webkit-font-smoothing: antialiased;
				  -webkit-text-stroke-width: 0.2px;
				  -moz-osx-font-smoothing: grayscale;
			   	 font-size: .3rem;line-height: .45rem;
			    color: #cccccc;position: absolute;left: .52rem;top: .18rem;
			    width: .3rem;height: .3rem;display: block;z-index: 99;
		    }
			.icon-sousuo:before { content: "\e61b"; }
			
			section .order{width: 7.1rem;height: 2rem;box-sizing: border-box;border: 1px solid #e6e6e6;margin: .2rem auto 0;
			background: white;overflow: hidden;position: relative;}
			.order .orderImg{width: 1.48rem;height: 1.48rem;border: 1px solid #e6e6e6;margin: .24rem 0 0 .2rem;float: left;}
			.orderImg img{width: 100%;}
			.order ul{float: left;font-size: .34rem;color: #4d4d4d;margin: .24rem 0 0 .2rem;}
			.order ul .orderDate{font-size: .28rem;color: #b3b3b3;margin-top: .12rem;}
			.order ul li:nth-of-type(2){margin-top: .12rem;}
			.order .sign{width: 1rem;height: .3rem;background: #fe3057;color: white;text-align: center;line-height: .3rem;position: absolute;
			bottom: .2rem;right: 0;font-size: .22rem;}
			.order li .go{width: .2rem;position: absolute;right: .18rem;top: .8rem;}
			.go img{width: 100%;}
			.order ul li {letter-spacing:.02rem ;}
			.order #blue{background: #75aaf0;}
			.order #gray{background: #cccccc;}
		</style>
	</head>
	<body>
		<header>
			<span class="iconfont icon-sousuo"></span>
			<input type="text"  placeholder="通过手机号、姓名搜索" class="keyWord"/>
		</header>
		<section>
			<!--<div class="order">
				<div class="orderImg">
					<img src="assets/img/baoxian.jpg"/>
				</div>
				<ul>
					<li>订单号：<span class="orderNum">201605180962</span></li>
					<li>保户：&emsp;<span class="name">张成伟</span><span class="go"><img src="assets/img/go.png"/></span></li>
					<li class="orderDate">2016-05-06</li>
				</ul>
				<div class="sign">
					已完成
				</div>
			</div>
			<div class="order">
				<div class="orderImg">
					<img src="assets/img/yuhunliao.jpg"/>
				</div>
				<ul>
					<li>订单号：<span class="orderNum">201605180962</span></li>
					<li>保户：&emsp;<span class="name">王小二</span><span class="go"><img src="assets/img/go.png"/></span></li>
					<li class="orderDate">2016-05-06</li>
				</ul>
				<div class="sign" style="background: #fe3057;">
					待支付
				</div>
			</div>
			<div class="order">
				<div class="orderImg">
					<img src="assets/img/baoxian-dai.jpg"/>
				</div>
				<ul>
					<li>订单号：<span class="orderNum">201605180962</span></li>
					<li>保户：&emsp;<span class="name">李大牛</span><span class="go"><img src="assets/img/go.png"/></span></li>
					<li class="orderDate">2016-05-06</li>
				</ul>
				<div class="sign" style="background: #fe3057;">
					待验标
				</div>
			</div>
			<div class="order">
				<div class="orderImg">
					<img src="assets/img/yuhunliao-dai.jpg"/>
				</div>
				<ul>
					<li>订单号：<span class="orderNum">201605180962</span></li>
					<li>保户：&emsp;<span class="name">李大牛</span><span class="go"><img src="assets/img/go.png"/></span></li>
					<li class="orderDate">2016-05-06</li>
				</ul>
				<div class="sign" style="background: #75aaf0;">
					已发货565
				</div>
			</div>
			<div class="order">
				<div class="orderImg">
					<img src="assets/img/baoxian-dai.jpg"/>
				</div>
				<ul>
					<li>订单号：<span class="orderNum">201605180962</span></li>
					<li>保户：&emsp;<span class="name">李大牛</span><span class="go"><img src="assets/img/go.png"/></span></li>
					<li class="orderDate">2016-05-06</li>
				</ul>
				<div class="sign" style="background: #cccccc;">
					已关闭
				</div>
			</div>
			<div class="order">
				<div class="orderImg">
					<img src="assets/img/baoxian-dai.jpg"/>
				</div>
				<ul>
					<li>订单号：<span class="orderNum">201605180962</span></li>
					<li>保户：&emsp;<span class="name">李大牛</span><span class="go"><img src="assets/img/go.png"/></span></li>
					<li class="orderDate">2016-05-06</li>
				</ul>
				<div class="sign" style="background: #fe3057;">
					待验标
				</div>
			</div>-->
		</section>
		<script src="__JS__/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/zepto.tap.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/artTamplate.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/html" id="orderManageData_tmp1">
			{{ each data as value index }}
				{{ if value.source_status != 0 }}
					{{ if value.goods_type== 1}}
						{{ if value.pay_type =="微信" }}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/baoxian-dai.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign"  id={{value.source_status | color}}>{{value.source_status | orderSign}}</div>
							</div>
						{{else}}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/baoxian.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.source_status | orderSign}}</div>
							</div>
						{{/if}}
					{{else}}
						{{ if value.pay_type =="微信" }}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/yuhunliao-dai.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.source_status | orderSign}}</div>
							</div>
						{{else}}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/yuhunliao.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.source_status | orderSign}}</div>
							</div>
						{{/if}}
					{{/if}}
				
				{{else}}
					{{ if value.goods_type == 1}}
						{{ if value.pay_type =="微信" }}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/baoxian-dai.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.status | orderSign2}}</div>
							</div>
						{{else}}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/baoxian.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.status | orderSign2}}</div>
							</div>
						{{/if}}
					{{else}}
						{{ if value.pay_type =="微信" }}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/yuhunliao-dai.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.status | orderSign2}}</div>
							</div>
						{{else}}
							<div class="order" goodType={{ value.goods_type }} payable={{ value.payable }}>
								<div class="orderImg">
									<img src="__IMG__/yuhunliao.jpg"/>
								</div>
								<ul>
									<li>订单号：<span class="orderNum ">{{value.order_sn}}</span></li>
									<li>保户：&emsp;<span class="name">{{value.receiver_name}}</span><span class="go"><img src="__IMG__/go.png"/></span></li>
									<li class="orderDate">{{value.order_time | getDate}}</li>
								</ul>
								<div class="sign" id={{value.source_status | color}}>{{value.status | orderSign2}}</div>
							</div>
						{{/if}}
					{{/if}}
				{{/if}}
			{{/each}}
		</script>
		<script type="text/javascript">
			$(function(){
				var id;
				if(localStorage.getItem("personDetails")){
					id=JSON.parse(localStorage.getItem("personDetails")).id;
				};
				function getLocalTime(nS) {     
   					 return new Date(parseInt(nS) * 1000).toJSON().slice(0,10) 
   				}
				template.helper("orderSign",function(source_status){
					if(source_status==2){
						return "待验标"
					}
					if(source_status==3){
						return "审核中"
					}
					if(source_status==4){
						return "待付款"
					}
					if(source_status==5){
						return "待发货"
					}
					if(source_status==6){
						return "已发货"
					}
					if(source_status==7){
						return "已关闭"
					}
					if(source_status==8){
						return "已完成"
					}
				})
				template.helper("orderSign2",function(status){
					if(status==1){
						return "已支付"
					}
					if(status==0){
						return "未支付"
					}
				})
				
				template.helper("color",function(source_status){
					if(source_status==6||source_status==8){
						return "blue"
					}
					if(source_status==7){
						return "gray"
					}
				})
				template.helper("getDate",function(order_time){
				
						return getLocalTime(order_time)
				
				})
				$.get("http://www.yangjiguanjia.com/Api/Keeper/getOrderList?keeper_id="+id,{},function(data){
							if(data.code===1){
								var html = template("orderManageData_tmp1",{data:data.result.data});
							 	$("section").html(html);
								$(".order").on("tap",function(){
									var orderNum=$(this).children().eq(1).children().eq(0).children().eq(0).html();
									var name=$(this).children().eq(1).children().eq(1).children().eq(0).html();
									alert($(this).attr("goodType"))
									var condition=$(this).children().eq(2).html();
									var goods_type=$(this).attr("goodType");
									var payable=$(this).attr("payable");
									localStorage.setItem("orderInfo",JSON.stringify({"orderNum":orderNum,"goods_type":goods_type,"payable":payable}))
									
									if(condition=="待付款"||condition=="未支付"){
										location.href="waitPay.html"
									}else{
										location.href="orderDetails.html"
									}
								})
								
							}else{
								alert(data.msg);
							}	
					});
					//给后台发请求 请求到有数据则把原来的清空 然后把请求到的加载的进来
					//没有数据则不加载...
					
//					 $(".keyWord").on("keyup",function(event){	
//					 		var params={};
//							var content=$(".keyWord").val();
//							params.content=content;
//							$.post("/api/search",params,function(data){
//								if(data.error===0){
//									var html = template("orderManageData_tmp1",{data:data.data});
//								 	$("section").html(html)
//								}else{
//									alert(data.message)
//								}
//							})
//							
//					})
						var UserArray = new Array();
					     var nameArray = new Array();
					     var table = $("section");
						
					    $(".keyWord").keyup(function(){
					      for(var i=0;i<$(".order").length;i++){
							 userid = $(".orderNum").eq(i).html();
					        //将订单号存入输出的中
					        UserArray.push(userid);
					        
					        userName = $(".name").eq(i).html();
					        //将姓名存入输出的中
					        nameArray.push(userName);
						  }
					      
						  table.children().each(function(){
						        $(this).css("display","block");
					
						  })
					      val = $(".keyWord").val();
					      if(val == ""){
					         return false;
					      } else{
					         if(!isNaN(val)){
					         
					            hanld(UserArray,val);
					         }else{
					         	hanld(nameArray,val)
					         }
					         
					      }
					    });
				
						function hanld(array,value){
							var arr=searchKeys(array,value)
							
							if(arr.length>1){
								//alert(arr.length)
								table.children().each(function(){
									//alert(1)
							        $(this).css("display","none");
						
							    })
								for(var a=0;a<arr.length;a++){
									table.children().eq(arr[a]).css("display","block")
								}
							}else if(arr.length==1){
								alert(1)
								table.children().eq(arr[0]).siblings().css("display","none")
							}
		//				     for(var i=0;i<array.length;i++){
		//				      	
		//				        if(array[i]==val){
		//				        	
		//				        	alert(arr)
		//				        	//table.children().eq(i).siblings().css("display","none");
		//				            //table.children().eq(i).show();
		//				            
		//				        }
		//				     }
						    
		//				     if(arr.length!=0){
		//				     	 
		//				     	table.children().each(function(){
		//					        $(this).css("display","none");
		//				
		//					   })
		//				     	for(var a=0;a<arr.length;a++){
		//				     		var index=arr[a]
		//				     		table.children().eq(index).css("display","block");
		//				    	}
		//				     }    
						}
						function searchKeys(haystack,needle){
							
						    var result = [];
						    for (var i in haystack){
						
								if (haystack[i] == needle){
						
						    		result.push(i);
								}
							}
						    return result;
						} 
					
				})
//								function encode(s){
//									return s.replace(/&/g,"&").replace(/</g,"<").replace(/>/g,">").replace(/([\\\.\*\[\]\(\)\$\^])/g,"\\$1");
//								}						
//								function decode(s){
//									return s.replace(/\\([\\\.\*\[\]\(\)\$\^])/g,"$1").replace(/>/g,">").replace(/</g,"<").replace(/&/g,"&");
//								}
//								function highlight(s){
//									
//									if (s.length==0){
//									   // alert('搜索关键词未填写！');
//									    return false;
//									}
//									s=encode(s);
//									var obj=document.getElementsByTagName("body")[0];
//									var t=obj.innerHTML.replace(/<span\s+class=.?highlight.?>([^<>]*)<\/span>/gi,"$1");
//									obj.innerHTML=t;
//									var cnt=loopSearch(s,obj);hgf
//									t=obj.innerHTML
//									var r=/{searchHL}(({(?!\/searchHL})|[^{])*){\/searchHL}/g
//									t=t.replace(r,"<span class='highlight'>$1</span>");
//									obj.innerHTML=t;
//									
//									$(".highlight").css("color","red")
//									//alert("搜索到关键词"+cnt+"处")
//								}
//								function loopSearch(s,obj){
//									var cnt=0;
//									
//									if (obj.nodeType==3){
//									    cnt=replace(s,obj);
//									    return cnt;
//									}
//									for (var i=0,c;c=obj.childNodes[i];i++){
//									    if (!c.className||c.className!="highlight") 
//									      cnt+=loopSearch(s,c);
//									}
//									return cnt;
//								}
//								
//								function replace(s,dest){
//									var r=new RegExp(s,"g");
//									var tm=null;
//									var t=dest.nodeValue;
//									var cnt=0;
//									if (tm=t.match(r)){
//										
//									    cnt=tm.length;
//									    t=t.replace(r,"{searchHL}"+decode(s)+"{/searchHL}")
//									    dest.nodeValue=t;
//									}
//									return cnt;
//								}
//							})
		</script>
	</body>
</html> 
