<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="YES" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name = "format-detection" content = "telephone=no">
		<title>快乐的蛋</title>
		<script src="assets/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/weui.min.css"/>
		<style type="text/css">
		body{height: 100%;width: 100%;background-color:#efa230;}
		.price_ul{margin:0 auto;margin-top: 2.5rem;width: 6.9rem;height: 5.3rem;}
		.price_ul li{float: left;width: 1.6rem;margin:0 .25rem;position: relative;}
		.kuang{position: absolute;bottom: .3rem;left: 50%;width: .3rem;height:.3rem;border:2px solid #000;border-radius:.1rem;margin-left: -0.2rem;}
		.gou{height: .3rem;width: .5rem;}
		.username{width:4.6rem;height:0.9rem;line-height:.9rem;font-family:黑体;font-size: .28rem;color: #000;background-color: #fff;text-align: center;border-radius: .1rem;margin:0 auto;display: block;margin-top: 0.2rem;}
		</style>
	</head>
	<body>
	
		<div id="app">
			<img style="position: absolute;left: 0;top: 0;" src="assets/img/buy_head.jpg" alt="">
			<ul class="price_ul">
				<li>
					<label for="x11">
						<img src="assets/img/buy_1.png" alt="">
						<div @click='chose_price(0)' class="kuang">
	                 <input type="radio"  class="weui-check" id="x11" v-model="picked" value="1900.8">
	                    	<img v-show=arr[0] class="gou" src="assets/img/gou.png" alt="">
	                    </div>
					</label>
				</li>
				<li>
					<label for="x12">
						<img src="assets/img/buy_2.png" alt="">
						<div @click='chose_price(1)' class="kuang">
	                  <input type="radio"  class="weui-check" id="x12" v-model="picked" value="950.6">
	                   	 	<img v-show=arr[1] class="gou" src="assets/img/gou.png" alt="">
	               		 </div>
					</label>
				</li>
				<li>
					<label for="x13">
						<img src="assets/img/buy_3.png" alt="">
						<div @click='chose_price(2)' class="kuang">
	                   <input type="radio"  class="weui-check" id="x13" v-model="picked" value="39.6">
	                    	<img v-show=arr[2] class="gou" src="assets/img/gou.png" alt="">
	                	</div>
					</label>
				</li>
			</ul>
			<div style="margin-bottom: 1rem;" class="weui-cell__bd">
                   <input @focus='agree(1)' class="username" v-model="name" type="text" placeholder="请输入您的名字">
                   <p style="margin-bottom: .1rem;" @click='show_wishword(0)' class="username">{{message}}</p>
                   <label @click='agree' style="width: 4.6rem;margin:0 auto;" for="weuiAgree" class="weui-agree">
            			<input id="weuiAgree" class="weui-agree__checkbox" type="checkbox" checked="checked">
            			<span style="font-family: '黑体';color: #171717;font-weight: .18rem;" class="weui-agree__text">
                		我已阅读并同意<a href="javascript:void(0);">《活动规则》</a>
            			</span>
        			</label>
            </div>
           <!--  <div @click='showwish_word(0)' class="page__bd page__bd_spacing">
        			<a href="javascript:;" class="weui-btn weui-btn_default" style="height: 1rem;font-size: .32rem;line-height: 1rem;width: 4.6rem;background-color: #da3522;font-family: 黑体;">请选择祝福语</a>
    		</div> -->
    		<div v-show='wish_word'>
        		<div class="weui-mask" style="opacity: 1;"></div>
        		<div class="weui-actionsheet weui-actionsheet_toggle">
           			<div class="weui-actionsheet__menu">
                		<div @click='chose_wishword(0)' class="weui-actionsheet__cell">{{wish_arr[0]}}</div>
                		<div @click='chose_wishword(1)' class="weui-actionsheet__cell">{{wish_arr[1]}}</div>
               			<div @click='chose_wishword(2)' class="weui-actionsheet__cell">{{wish_arr[2]}}</div>
               			<div @click='chose_wishword(3)' class="weui-actionsheet__cell">{{wish_arr[3]}}</div>
               			<div @click='chose_wishword(4)' class="weui-actionsheet__cell">{{wish_arr[4]}}</div>
               			<div @click='chose_wishword(5)' class="weui-actionsheet__cell">{{wish_arr[5]}}</div>
            		</div>
            	<div @click='show_wishword(1)' class="weui-actionsheet__action">
                	<div class="weui-actionsheet__cell">取消</div>
            	</div>
        		</div>
    		</div>
			<div style="position: fixed;bottom: 0;left: 0;width: 100%;">
		         <a style="height: 1rem;font-size: .32rem;line-height: 1rem;width: 100%;background-color: #da3522;font-family: 黑体;border-radius: 0;" class="weui-btn weui-btn_primary" href="javascript:void(0)" id="showTooltips" @click="next_step">下一步</a>
		    </div>
			<!-- <p style="text-align: center;font-size: .32rem;margin-top: .2rem;">鸡年到,礼物来,送TA来吃鸡蛋喽</p>
			<p style="text-align: center;font-size: .32rem;margin-top: .2rem;">快乐的蛋帮您将祝福送到您的朋友手中</p>
			<div class="weui-cells weui-cells_radio">
	            <label class="weui-cell weui-check__label" for="x11">
	                <div class="weui-cell__bd">
	                    <p>¥1920元,慢慢一年的祝福</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" class="weui-check" name="radio1" id="x11"  v-model="picked" value="1920">
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	            <label class="weui-cell weui-check__label" for="x12">
	                <div class="weui-cell__bd">
	                    <p>¥980元,半年</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" name="radio1" class="weui-check" id="x12" v-model="picked" value="980">
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	            <label class="weui-cell weui-check__label" for="x13">
	                <div class="weui-cell__bd">
	                    <p>¥39元,一份心意</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" name="radio1" class="weui-check" id="x13" v-model="picked" value="39">
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	        </div>
	        
	        <div class="weui-cells">
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <input class="weui-input" type="text" placeholder="请输入您的姓名" v-model="name">
	                </div>
	            </div>
	        </div>
	        
	        <div class="weui-cells weui-cells_form">
	            <div class="weui-cell">
	                <div class="weui-cell__bd">
	                    <textarea class="weui-textarea" placeholder="您的祝福语" rows="3" v-model="message"></textarea>
	                </div>
	            </div>
	        </div>
	        
	        <div class="weui-btn-area" style="margin-top: 1.2rem;">
	            <a class="weui-btn weui-btn_primary" href="javascript:void(0)" id="showTooltips" @click="next_step">下一步</a>
	        </div> -->
	    </div>
		<script src="assets/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="assets/js/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
			  el: '#app',
			  data: {
			    wish_arr: ['大鸡大利','新春快乐','鸡年大吉','吉祥如意','万事大吉','财源广进'],
			    message:'鸡年大吉',
			    name:'',
			    picked:'39.6',
			    arr:[false,false,true],
			    wish_word:false,
			    dis_agree:true,
			    wish_index:0
			  },
			  methods:{
			  	next_step:function(){
			  		//alert(this.picked)
			  		if(this.name==""){
			  			alert("请输入姓名")
			  		}else if(!this.dis_agree){
			  			alert("请阅读活动规则")
			  		}else{
			  			localStorage.setItem("product",JSON.stringify({"name":this.name,"id":this.picked,"hope":this.wish_index,"index":this.wish_index}))
			  			//alert(this.wish_index)
			  			location.href="pay_egg.html"
			  		}
			  	},
			  	chose_price:function(index){
			  		
			  		this.arr=[false,false,false];
			  		this.arr[index]=true;
			  	},
			  	show_wishword:function(index){
			  		if(index==0){
			  			this.wish_word=true;
			  		}else{
			  			this.wish_word=false;
			  		}
			  	},
			  	chose_wishword:function(index){
			  			this.message=this.wish_arr[index];
			  			this.wish_word=false;
			  			this.wish_index=index;
			  	},
			  	agree:function(index){
			  			if(index==1){
			  				this.dis_agree=true;
			  				
			  			}else{
			  				this.dis_agree=!this.dis_agree;
			  			}
			  			
			  	}
			  }
			})
		</script>
	</body>
</html>

