<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<meta name="apple-touch-fullscreen" content="YES" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name = "format-detection" content = "telephone=no">
		<title>快乐的蛋</title>
		<script src="assets/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="assets/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/weui.min.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div id="app">
			<p style="font-size: .32rem;margin-top: .2rem;width: 100%;height: 5rem;background: gainsboro;color: darkslategray;">大吉大利,祝TA新年快乐!</p>
	        <div class="weui-cells__title">请勾选您要赠送的人数</div>
	        <div class="weui-cells weui-cells_radio">
	            <label class="weui-cell weui-check__label" for="x11">
	                <div class="weui-cell__bd">
	                    <p>1人</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" class="weui-check" name="radio1" id="x11" v-model="person" value="1">
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	            <label class="weui-cell weui-check__label" for="x12">
	
	                <div class="weui-cell__bd">
	                    <p>10人</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" name="radio1" class="weui-check" id="x12" v-model="person" value="10" >
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	            <label class="weui-cell weui-check__label" for="x13">
	                <div class="weui-cell__bd">
	                    <p>50人</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" name="radio1" class="weui-check" id="x13" v-model="person" value="50">
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	            <label class="weui-cell weui-check__label" for="x14">
	                <div class="weui-cell__bd">
	                    <p>其他</p>
	                </div>
	                <div class="weui-cell__ft">
	                    <input type="radio" name="radio1" class="weui-check" id="x14"  v-model="person" value="0">
	                    <span class="weui-icon-checked"></span>
	                </div>
	            </label>
	        </div>
	        <div class="weui-btn-area" style="margin-top: 1.2rem;">
	            <a class="weui-btn weui-btn_primary" href="javascript:void(0)" @click="pay" id="showTooltips">立即付款</a>
	        </div>
	    </div>
		<script src="assets/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="assets/js/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="assets/js/commom.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
			  el: '#app',
			  data: {
			    message: '',
			    person:1
			  },
			  methods:{
			  	pay:function(){
			  		var id=JSON.parse(localStorage.getItem("product")).id;
			  		var name=JSON.parse(localStorage.getItem("product")).name;
			  		var hope=JSON.parse(localStorage.getItem("product")).hope;
			  		//alert(typeof(id))
			  		//alert(typeof(this.person))
			  		this.$http.post(validate.url+"/Api/WxHappyEgg/createOrder",{user_name:name,unit_price:id,wish_word:hope,amount:this.person,total_price:this.person*id},{emulateJSON:true}).then(
			            function (res) {
			            	if(res.body.code==1){
			            		location.href="http://weixin.yangjiguanjia.com/wxpay/example/jsapi2.php?order_sn="+res.body.result.order_sn+"&total_fee="+res.body.result.total_price
			            	}
			                //console.log(res.body);
			            },function (res) {
			            	// 处理失败的结果
			            }
			        )
			  	},
			  	onBridgeReady:function(){
			  		    WeixinJSBridge.invoke(
					       'getBrandWCPayRequest', {
					           "appId" : "",     //公众号名称，由商户传入     
					           "timeStamp":"",         //时间戳，自1970年以来的秒数     
					           "nonceStr" : "", //随机串     
					           "package" : "",     
					           "signType" : "MD5",         //微信签名方式：     
					           "paySign" : "" //微信签名 
					       },
					       function(res){     
					           if(res.err_msg == "get_brand_wcpay_request：ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
					       }
					   ); 
			  	},
			  	callpay:function(){
			  		
			  		if (typeof WeixinJSBridge == "undefined"){
					   if( document.addEventListener ){
					       document.addEventListener('WeixinJSBridgeReady',this.onBridgeReady, false);
					   }else if (document.attachEvent){
					       document.attachEvent('WeixinJSBridgeReady', this.onBridgeReady); 
					       document.attachEvent('onWeixinJSBridgeReady', this.onBridgeReady);
					   }
					}else{
					   this.onBridgeReady();
					}
			  	}
			  }
			})
			
	
		</script>
	</body>
</html>
