.navbar-brand .inverse-logo {
    opacity: 1;
    display: block;
}
.navbar-alt .navbar-brand .inverse-logo {
    opacity: 0;
    display: none;
}
.navbar-brand .normal-logo {
    opacity: 0;
    display: none;
}
.navbar-alt .navbar-brand .normal-logo {
    opacity: 1;
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "微软雅黑","Microsoft YaHei",sans-serif;
}

ul {
    padding-left: 0;
    list-style: none;
}
a:hover,
 a:active,
 a:focus {
     outline: 0 none;
     text-decoration: none;
 }

.download-banner {
    padding-top: 0px;
    background: #F36F24;
    background-size: cover;
    text-align: center;
    position: relative;
}
.download-banner li{
    width: 220px;
    height: 180px;
}
.barcode{
    margin-left:50px;
}

.info-title {
    color: #fff;
    font-size: 4rem;
    line-height: 64px;
}

.info-text {
    color: #fff;
    font-family: microsoft yahei;
    font-size: 18px;
    line-height: 30px;
}

.barcode ul li{
    float: left;


}
.barcode ul li a{
    display: block;
    margin-bottom: 30px;
    margin-right: 0px;
    /*    margin-left: 10px */

}

.download-banner img.app-phone:nth-of-type(1){
    text-align:center;
    margin-right: 0px;
}

.apply-title{color:white;font-size:24px;margin: 1em 0 1em;}


.copyright {
    border-top: 1px solid #e8e9ed;
    background-color: #f2f2f5;
    padding: 40px 0;
}
.copyright p,
.copyright ul {
    margin-bottom: 0;
}
.copyright ul li {
    margin-left: 1em;
}
.copyright ul li:first-of-type {
    margin-left: 0;
}
.copyright .copyright-links {
    text-align: right;
}
@media (max-width: 991px) {
    .copyright .copyright-links {
        text-align: left;
        margin-top: 20px;
    }
}
.copyright-alt {
    padding: 100px 0 70px;
}
.copyright-alt p,
.copyright-alt ul {
    margin-bottom: 0;
}
.copyright-alt ul li {
    margin-left: 1em;
    margin-bottom: 20px;
}
.copyright-alt ul li  >  a:hover {
    color: white;
}
.copyright-alt ul li:first-of-type {
    margin-left: 0;
}

#bg_down{
    margin: 0 auto;
    height: 680px;
    background: url("../images/bg_down.png") center no-repeat;
}

.down-btns{
    position: absolute;
    top:580px;
    left:50%;
    margin-left: -210px;
}
.ios-down,.android-down{
    display: inline-block;
    width:180px;
    height:50px;
}
.ios-down{
    background:url("../images/ios-m.png") no-repeat;
}
.android-down{
    background:url("../images/andr-m.png") no-repeat;
    margin-left:60px;
}
.ios-down:hover{
    background:url("../images/ios-across.png") no-repeat;
}
.android-down:hover{
    background:url("../images/andr-across.png") no-repeat;
}
.ios-down:visited{
    background:url("../images/ios-click.png") no-repeat;
}
.android-down:visited{
    background:url("../images/andr-click.png") no-repeat;
}