@charset "utf-8";
/*科e互联特效基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
img{border:none;padding:0;margin:0;}
a,a:hover{text-decoration: none;}
body { color: #333; text-align: center; font: 12px "微软雅黑"; }
ul, ol, li {list-style-type:none;vertical-align:0}
.fl{float:left;}
.fr{float:right;}
img{margin:0;}
/* 效果CSS开始 */
.slider{display:none}/*用于获取更加体验*/
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#dddddc;font-size:0}
.focus span.current{background:#f3690d}
/* 效果CSS结束 */

.goods-name{
    line-height:1rem;
    font-size:0.7rem;
    border-bottom: 1px solid #eee;
    padding-top:10px;
    padding-bottom:10px;
    width:14.5rem;
    margin:0 auto;
    color:#666666;
}
.goods-value{
    width:14.5rem;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
}
.goods-ditch{
    color:#000;
}
.now-value{
    color:#ff5000;
    font-weight: bold;
    font-size:1.05rem;
    margin-right: 10px;
}
.old-value{
    color:#333333;
    font-size:0.75rem;
}
.pro-label{
    float:right;
    padding-top:0.3rem;
}
.privilege{
    background-color: #0db5f3;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:4px;
    padding-bottom:4px;
    color:#fff;
    margin-left:0.2rem;
    font-size: 0.5rem;
}
.commitment{
    background-color:#f5f5f9;
    height:6.5rem;
    padding-top:20px;
    padding-bottom:20px;
}
.commitment-wrapper{
    height:6.0rem;
    background-color:#fff;
    border-top:6px dotted #f5f5f9;
    border-bottom:6px dotted #f5f5f9;
}
.commitment-cont{
    width:14.5rem;
    margin:0 auto;
}
.commitment-cont-title{
    font-size:0.7rem;
    height:2rem;
    line-height:2rem;
    border-bottom:1px solid #eeeeee;
}
.zheng,.qi,.bao,.song{
    width:3.6rem;
    float:left;
    text-align:center;
}
.commitment-cont-body{
    overflow:hidden;
    padding-top:0.5rem;
    font-size:0.55rem;
    color:#f3690d;
    font-weight: bold;
}
.commitment-cont-body img{
    width:1.85rem;
}
.introduce{
    margin-bottom:2rem;
}
.introduce-wrapper{
    width:14.5rem;
    margin:0 auto;
    border-bottom: 1px solid #eee;
}
.introduce-wrapper h2{
    height:2.2rem;
    line-height: 2.2rem;
    font-size:0.7rem;
    font-weight: bold;
}
.introduce-main{
    width:15rem;
    margin:0 auto;
}
.introduce-main-wrapper{
    background-color: #fff;
}
.introduce-main img{
    width:100%;
}
.introduce-main p{
    line-height:2.15rem;
    font-size:0.65rem;
    color:#666666;
}
.share-btn{
    position:fixed;
    width:100%;
    bottom:0;
}
.share-btn a{
    display:block;
    height:1.85rem;
    line-height: 1.85rem;
    background-color: #f3690d;
    color:#fff;
    font-size:0.77rem;
    font-weight:bold;
    text-align: center;
}
.swiper-container{
    width:100%;
    height:auto;
    position:relative;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background:#fff;
}
.swiper-slide img{width:100%;height:auto;}
.swiper-pagination-bullet{background: #dddddc}